.close-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: 'pointer';
    padding: 5px;
}

.close-div:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: 'pointer';
    padding: 5px;
    background-color: #DDDAD9;
}