
.quote-content-div-name{
    font-size: 14px;
    color: gray;
}

.quote-content-div-content{
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}