
.quote-content-div-name{
    font-size: 12px;
    color: gray;
}

.quote-content-div-content{
    font-size: 14px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-width: 80%;
}

.close-div{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: 'pointer';
    padding: 5px;
}

.close-div:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: 'pointer';
    padding: 5px;
    background-color: #DDDAD9;
}