.table-view{
    -fx-font-size: 24;
    -fx-background-color: #F5F5F5;
}

.table-view .table-column{
    -fx-alignment: CENTER;
}

.table-view .table-cell{
    -fx-background-color: #F5F5F5;
}

/*隐藏表头*/
.table-view .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
}


/*隐藏滚动条*/
.table-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.table-view .scroll-bar:horizontal{
    -fx-scale-x: 0;
}

.table-view .scroll-bar:horizontal .increment-arrow,
.table-view .scroll-bar:horizontal .decrement-arrow,
.table-view .scroll-bar:horizontal .increment-button,
.table-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.table-view .scroll-bar:vertical .increment-arrow,
.table-view .scroll-bar:vertical .decrement-arrow,
.table-view .scroll-bar:vertical .increment-button,
.table-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}