
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.list-view .scroll-bar:horizontal{
    -fx-scale-x: 0;
}

.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.list-view{
    -fx-background-color: #F5F5F5;
    -fx-border-color: lightgrey;
    -fx-border-width: 1 1 1 0;
}

.list-cell{
    -fx-padding: 10px;
    -fx-background-color: #F5F5F5;
    -fx-border-color: #F5F5F5;
}

#chatVbox{

}

.send-button{
    -fx-background-color: #E9E9E9;
    -fx-font-size: 14px;
    -fx-text-fill: #07C160;
}

.send-button:hover{
    -fx-background-color: #D2D2D2;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent, #F5F5F5, transparent, #F5F5F5;
    -fx-font-size: 16px;
}

.text-area .content {
    -fx-background-color: transparent, #F5F5F5, transparent, #F5F5F5;
}

.text-area:focused .content {
    -fx-background-color: transparent, #F5F5F5, transparent, #F5F5F5;
}

.text-area:focused {
    -fx-highlight-fill: #7ecfff;
}

.text-area .content {
    -fx-padding: 10px;
    -fx-text-fill: gray;
    -fx-highlight-fill: #7ecfff;
}


/*隐藏滚动条*/
.text-area .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.text-area .scroll-bar:horizontal{
    -fx-scale-x: 0;
}

.text-area .scroll-bar:horizontal .increment-arrow,
.text-area .scroll-bar:horizontal .decrement-arrow,
.text-area .scroll-bar:horizontal .increment-button,
.text-area .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.text-area .scroll-bar:vertical .increment-arrow,
.text-area .scroll-bar:vertical .decrement-arrow,
.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}