#chatItemLabel{
    -fx-font-size: 14px;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
    -fx-padding: 7,7,7,7;
}

#sendNameLabel{
    -fx-text-fill: Grey;
    -fx-font-size: 10px;
}