
.list-view .scroll-bar:vertical{
    -fx-scale-x: 0;
}
.list-view .scroll-bar:horizontal{
    -fx-scale-x: 0;
}


.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button {
    -fx-padding:0;
}

.user-group-listview{
    -fx-background-color: #F5F5F5;
    -fx-border-color: lightgrey;
}

.user-group-listview-listview .list-cell:selected:odd,
.user-group-listview .list-cell:selected:even{
    -fx-background-color: lightgrey;
}


.user-group-listview .list-cell{
    -fx-background-color: #F5F5F5;
    -fx-padding: 10px;
    -fx-border-color: #F5F5F5;
}

.user-group-listview .list-cell:odd{
    -fx-background-color: #F5F5F5;
    -fx-padding: 10px;
}

.user-group-listview .list-cell:even{
    -fx-background-color: #F5F5F5;
    -fx-padding: 10px;
}