.app-header{
    -webkit-app-region: drag //electron 拖动
}

.search-head-flex {
    
    box-sizing: border-box;
}

.chat-search {
    height: 45%;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: #E2E2E2;
    -webkit-app-region: no-drag; //electron 不可拖动
}

// 头部样式
.header-right-name{
    font-size: 18px;
    font-weight: bold;
    padding-left: 10px;
}

.window-ops-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    -webkit-app-region: no-drag; //electron 不可拖动
}

.window-ops-btn:hover{
    background-color: #FB7373;
    cursor: pointer;
}