<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imtp.web.mapper.SessionMapper">

    <resultMap id="resultUserSessionInfoMap" type="org.imtp.common.packet.body.UserSessionInfo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="userId" column="user_id"/>
        <result property="receiverUserId" column="receiver_user_id"/>
        <result property="deliveryMethod" column="delivery_method"/>
        <result property="lastMsgType" typeHandler="org.imtp.web.mapper.MessageTypeHandler" column="last_msg_type"/>
        <result property="lastMsgContent" column="last_msg_content"/>
        <result property="lastMsgTime" typeHandler="org.imtp.web.mapper.DateToLongTypeHandler" column="last_msg_time"/>
        <result property="lastSendMsgUserId" column="last_send_msg_user_id"/>
    </resultMap>

    <select id="findSessionByUserId" parameterType="java.util.List" resultMap="resultUserSessionInfoMap">
        SELECT
            t.*,
            case when t.delivery_method = 'SINGLE' then  IFNULL( f.note,u.nickname ) else g.NAME end  AS name,
            IFNULL( u.avatar, g.avatar ) avatar
        FROM
            im_session t
                LEFT JOIN im_user u ON u.id = t.receiver_user_id
                LEFT JOIN im_user_friend f on f.friend_id = t.receiver_user_id and f.user_id = #{userId}
                LEFT JOIN im_group g ON g.id = t.receiver_user_id
        WHERE t.user_id = #{userId} and t.is_deleted = 0 order by t.id desc
    </select>

</mapper>