<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.imtp.web.mapper.UserSessionMapper">


    <resultMap id="resultUserSessionInfoMap" type="org.imtp.common.packet.body.UserSessionInfo">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="avatar" column="avatar"/>
        <result property="senderUserId" column="sender_user_id"/>
        <result property="receiverUserId" column="receiver_user_id"/>
        <result property="deliveryMethod" column="delivery_method"/>
        <result property="lastMsgType" typeHandler="org.imtp.web.mapper.MessageTypeHandler" column="last_msg_type"/>
        <result property="lastMsgContent" column="last_msg_content"/>
        <result property="lastMsgTime" typeHandler="org.imtp.web.mapper.DateToLongTypeHandler" column="last_msg_time"/>
        <result property="lastSendMsgUserId" column="last_send_msg_user_id"/>
    </resultMap>

    <select id="findUserSessionBySessionIds" parameterType="java.util.List" resultMap="resultUserSessionInfoMap">
        SELECT t.*,
               m.type           as last_msg_type,
               m.content        as last_msg_content,
               m.send_time      as last_msg_time,
               m.sender_user_id as last_send_msg_user_id,
               CASE t.delivery_method
                   WHEN 'SINGLE' THEN
                       IFNULL(u1.nickname, u2.nickname)
                   ELSE
                       IFNULL(g1.name, g2.name)
                   END          as name,
               CASE t.delivery_method
                   WHEN 'SINGLE' THEN
                       IFNULL(u1.avatar, u2.avatar)
                   ELSE
                       IFNULL(g1.avatar, g2.avatar)
                   END          as avatar
        FROM im_session t
                 left join im_user u1 on u1.id = t.sender_user_id and u1.id != #{userId}
                 left join im_user u2 on u2.id = t.receiver_user_id and u2.id != #{userId}
                 left join im_group g1 on g1.id = t.sender_user_id
                 left join im_group g2 on g2.id = t.receiver_user_id
                 left join im_msg m on m.id = t.last_msg_id
        <where>
            t.id in
            <foreach collection="sessionIds" item="item" index="index" separator="," open="(" close=")">
                #{item}
            </foreach>
        </where>
    </select>

</mapper>