
#rootPane{
    /*-fx-effect: innershadow(gaussian, #D0D0D0, 1, 1.0, 0, 0);*/
}

#leftVBox{
    -fx-background-color: #2E2E2E;
}

#centerHomeLeftHBox{
    -fx-border-width: 0 1 0 0;
    -fx-border-color: lightgrey;
}

#headName{
    -fx-padding: 0 0 0 10;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}


.searchStyle{
    -fx-background-insets: 0;
    -fx-background-color: transparent, #E2E2E2, transparent, #E2E2E2;
}